## Data Science Tools and Ecosystem

**Objectives**:

- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.
- Comment on Data Science tools.

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    - Python
    - R
    - Java

Some of the commonly used libraries used by Data Scientists include:
- **TensorFlow**.
- **NumPy**.
- **SciPy**.
- **Pandas**.
- **Matplotlib**.

Data Science Tools:

| **Data Science Tools**|
|------|
| Apache Spark |
| BigML |
| SAS|

Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

In [4]:
5*5*5

125

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5
# Result: 17

17

This will convert 200 minutes to hours by diving by 60

In [9]:
time = 200
hours = time / 60
print(str(hours) + " hours ")

3.3333333333333335 hours

## Author:
Daniel LÃ³pez Molina